[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mldr.resampling"]
	path = mldr.resampling
	url = https://github.com/madr0008/mldr.resampling
	shallow = true
	registered = true
